.container_header{
    display: flex;
    align-items: center;
    padding: 0 24px;
    gap: 20px;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-left{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.header-left a,
.header-right a{
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
    font-size: 18px;
    line-height: 118%;
    letter-spacing: -0.24px;
    text-decoration: none;
    transition: color 0.3s ease;
}